.vscode
.cache
bin
build
build2
build-*
build_*
__pycache__/
# ...but the multi-target build scripts are part of the project (see README)
!build_all.sh
!build_all.bat
!build_all.ps1
firmware
drew.todo
debug
debug.log
dump.log
logs/

# GM wavetable bank (user-supplied; NOT redistributable if from Microsoft gm.dls)
gm_bank.bin
*.dls
